body {
    margin: 0;
    padding: 20px;
}

.text-center {
  text-align: center;
}

.btn {
  background-color: #282828;
  color: #FFFFFF;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

main {
    border: 2px solid #000000;
    border-radius: 10px;
}

.board, .score {
  display: flex;
  justify-content: space-around;
}

#score-home, #score-guest {
  font-size: 2rem;
}

.section-points {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}
