body {
    margin: 0;
    padding: 20px;
    background-image: url("./img/basketball-court.jpg");
    background-size: cover;
}

main {
  display: flex;
  justify-content: center;
}

h3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.btn {
  background-color: #282828;
  color: #FFFFFF;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.board {
  display: flex;
  gap: 40px;
  justify-content: center;
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px #282828;
  background-color: #FFFFFF;
}

p#score-home, p#score-guest {
  font-family: 'Cursed Timer ULiL', sans-serif;
  font-size: 4rem;
  color: #FFFFFF;
  background-color: #282828;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 20px 0;
}

.section-points {
  display: flex;
  justify-content: center;
  gap: 20px;
}
